{% extends "uplayout.html" %}

{% block title %}利用規約・プライバシーポリシー | Poke-db.com{% endblock title %}

{% block content %}
    
    <h2 class="mt-4 border-bottom">利用規約</h2>
    Poke-db.comは、株式会社ポケモンおよび関連企業と一切関係ありません。<br>
    この利用規約（以下、「本規約」と言います。）は、Poke-db.com（以下、「本サービス」と言います）を利用する際の全ての行為について適用されます。
    ユーザー登録の有無を問わず、利用者が本サービスを利用する場合は、本規約のすべての項目に同意し、利用契約を締結したものと見なします。

    <h4 class="mt-4 border-bottom">禁止事項</h4>
    ユーザーは、本サービスの利用にあたり以下の行為をしてはなりません。
    <ul>
      <li>提供するインターフェースおよび手順以外の方法による本サービスへのアクセスを試みること。</li>
      <li>本サービスのデータの一部またはすべてを無断で、転載や複製、収集、再利用、アップロードなどすること。</li>
      <li>本サービスに対して、不当にアクセス負荷をかけること。</li>
      <li>その他、本サービスに損害が出る可能性のある行為。</li>
    </ul>
    以上の行為を行うユーザーに対し、本サービスは提供を一時停止または停止することができます。

    <h4 class="mt-4 border-bottom">プライバシーポリシー</h4>
    本サービスの利用によって取得する個人情報については、この項に従い適切に取り扱うものとします。ユーザーは、本サービスを利用することにより、この項のプライバシーポリシーに従い、本サービスがユーザーの個人データを利用できることに同意することになります。<br>
    本サービスが扱う情報は、以下の通りです。
    <ul>
      <li>Twitter社の提供するAPIにより収集する情報。(<a href=https://help.twitter.com/ja/managing-your-account/connect-or-revoke-access-to-third-party-apps target="_blank">アプリの権限</a>の「読み取り」に準拠します)</li>
      <li>ブラウザやクライアントアプリによりユーザーから送信される情報。</li>
    </ul>
    本サービスがこれらの情報を収集・利用する目的は以下の通りです。
    <ul>
      <li>本サービスの提供および運営のため</li>
      <li>利用規約に違反したユーザーや、不正・不当な目的で本サービスを利用しようとするユーザーの特定をし、サービス提供を停止するため</li>
    </ul>
    本サービスがあらかじめユーザーの同意を得ることなく、第三者に情報を提供することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。

    <h4 class="mt-4 border-bottom">利用規約の変更</h4>
    本サービスの運営において必要と判断した場合には、ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお、本規約の変更後、本サービスの利用を開始した場合には、当該ユーザーは変更後の規約に同意したものとみなします。

    <h4 class="mt-4 border-bottom">免責</h4>
    ユーザーが本サービスの利用に関して被った損害について、本サービス管理者は一切責任を負わないものとします。

    <h4 class="mt-4 border-bottom">お問い合わせ</h4>
    本規約および本サービスに関するお問い合わせは、以下のメールアドレス宛にお願いいたします。<br>
    wagoupokedb(at)gmail.com<br>
    ※(at)は@に置き換えて下さい。
{% endblock content %}