{% extends "uplayout.html" %}

{% block title %}Poke-db.com{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">Poke-db.comとは</h4>
    自分の対戦したデータを自動で保存してくれるツールを作りたいという考えから作成したサービスです。見せ合いの画面からデータ収集を行い、自動で集計するだけでなく、サーバに送って集計を行えます。
    <h4 class="mt-4 border-bottom">ログイン</h4>
    Twitterアカウントを利用してログインすることでアクセスキーが発行されます。アクセスキーを使ってKPデータの自動提供が出来ます。<br>
    また自分が対戦したパーティのデータ(自分が提供したデータ)を見たりダウンロードしたりすることができます。<br>
    <a href="{% url 'pokes:logintw' %}"><img src="https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/icons/sign-in-with-twitter-gray-png-img-fullhd-medium.png.img.fullhd.medium.png" alt="Twitterにログイン"></a><br>
    ログインすることで<a href="{% url 'pokes:agreement' %}">利用規約およびプライバシーポリシー</a>に同意したとみなします。必ずお読みください。
    <h4 class="mt-4 border-bottom">KPデータを提供する</h4>
    WindowsPCとキャプチャーボードをお持ちであればKPデータの提供が可能です。ぜひご協力ください。<br>
    提供は自動で行われ、録画・配信しながらの提供も可能です。また自分が対戦したパーティを閲覧しリストをダウンロードすることが可能です。<br>
    <a href="{% url 'pokes:howto' %}">詳しい利用方法はこちら</a>
    <h4 class="mt-4 border-bottom">集計数</h4>
    現在、合計{{ battle }}戦分のデータがあります。ランクマッチのマスターランクのデータを集計しています。
    <h4 class="mt-4 border-bottom">KP集計結果(シングルバトル)</h4>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">KP</th>
        </tr>
      </thead>
      <tbody>
        {% for skp in skps %}
        <tr>
          <th scope="row">{{ skp.name }}</th>
          <td>
            <script language="JavaScript">
            document.write({{ skp.count }},"(",({{ skp.count }} / {{ sbattle }} * 100.0).toFixed(2),"%)")
            </script>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h4 class="mt-4 border-bottom">KP集計結果(ダブルバトル)</h4>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">KP</th>
        </tr>
      </thead>
      <tbody>
        {% for dkp in dkps %}
        <tr>
          <th scope="row">{{ dkp.name }}</th>
          <td>
            <script language="JavaScript">
            document.write({{ dkp.count2 }},"(",({{ dkp.count2 }} / {{ dbattle }} * 100.0).toFixed(2),"%)")
            </script>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}