{% extends "uplayout.html" %}

{% block title %}使い方 | pokedbapp{% endblock title %}

{% load static %}

{% block content %}
    
    <h2 class="mt-4 border-bottom">使い方</h2>
    
    <h4 class="mt-4 border-bottom">動作環境</h4>
    以下の環境で動作を確認しています。動作にOBSは必須ではありません。ただしOBSを使わない場合、録画及び配信ができなくなります。(OBS以外とのキャプチャソフトと同時に動作できません)<br>
    Windows 10(64bit)+OBS Studio 24.0.3+OBS-VirtualCam2.0.4


    <h4 class="mt-4 border-bottom">手順</h4>
    OBSを使わない場合、1,2を飛ばしてください。
    <ol>
      <li>OBSの導入</li>
      <a href="https://obsproject.com/ja/download" target="_blank">OBS</a>を導入してください。この時「ダウンロード インストーラ」ではなく「ダウンロード Zip」よりダウンロードしてください。
      <li>OBS-VirtualCamの導入</li>
      <a href="https://burikiyasan-obs-studio.amebaownd.com/posts/2829109/" target="_blank">こちらのサイト</a>を参考に導入してください。なおvirtual audio capture deviceは必要ありません。
      <li>アクセスキーの取得</li>
      トップページからログインを行い、表示されたアクセスキーをコピーしてください。同じアカウントでログインする限り、1度発行されたアクセスキーは変わることはありません。アクセスキーは公開しないでください。
      <li>クライアントアプリの導入</li>
      クライアントアプリを<a href="https://www.axfc.net/u/4038743?key=pokedb" target="_blank">こちらからダウンロード</a>して任意の場所に置いてください。メモ帳などのテキストエディタを開き、コピーしたアクセスキーをexeファイルと同じディレクトリの中にあるkey.txtに貼り付けて保存してください。
      <li>準備</li>
      switchの画面をバトルスタジアムのメニューのカジュアルバトルまたはランクバトルにカーソルを合わせた状態にしてください。<br>
      <!-- <img src="{% static "pokes/tempb2.png" %}" alt="画像"> -->
      この状態でクライアントアプリのexeファイルを実行し、送信モードを選択するとカメラを自動で検索し、キャプチャと情報送信を開始します。<br>
      送信モードはシングル・ダブルと全体データへの送信をする・しないの4種類のモードがあります。<br>
      ランクマッチのマスターランクのデータのみ全体データに送信してください。<br>
      多重送信を行わせないため、選出画面を1度認識してデータを送信するとその後90秒はキャプチャしないようになっています。誤認識したり通信切断などで対戦の間に90秒以上の間隔が開かない場合、再起動してください。
      <li>終了</li>
      コンソール画面の×ボタンかCtrl-Cでクライアントアプリを終了します。
    </ol>
{% endblock content %}
